
.register-heading {
    margin: 28px;
    color: white;
    -webkit-text-stroke: 0.3px #31E981;
}

.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #35605A;
    height: auto;
    padding: 30px;
    border-radius: 9px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
}

.select {
    margin: 10px;
    border-radius: 5px;
    padding: 4px;
    background-color: #D8E4FF;
}

.register-button {
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
    border: 1px solid #31E981;
    background-color: #00120B;
    color: #31E981;
}

.back-button {
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
    border: 1px solid #31E981;
    background-color: #00120B;
    color: #31E981;
}