* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Button Styling */
.logout-button, .back-button {
    background-color: #00120B; /* Primary dark color */
    color: #e0edfa; /* Slightly darker blue */
    padding: 10px;
    border-radius: 6px;
    border: 1.5px solid #b0c4de;
    margin-right: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.back-button:hover, .logout-button:hover {
    background-color: #b0c4de; /* Slightly darker blue */
    color: #00120B; /* Primary dark color */
    border: 1.5px solid #00120B;
}

.footer {
    width: 100%;
    padding: 1rem;
    background-color: #343a40; /* Dark grey */
    color: #f8f9fa; /* Light grey */
    text-align: center;
    position: absolute;
    bottom: 0;
}

.footer a {
    color: #f8f9fa;
    text-decoration: none;
    margin: 0 1rem;
}
