.student-landingpage-wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #f0f4f8;
}

.landingpage-header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #e0edfa; /* Primary blue */
    border-bottom: 1px solid #00120B; /* Darker shade for border */
}

.landingpage-header h2 {
    margin: 0;
    color: #00120B;
}

.header-button-student {
    background-color: #00120B; /* Primary dark color */
    color: #e0edfa; /* Slightly darker blue */
    padding: 10px;
    border-radius: 6px;
    border: 1.5px solid #b0c4de;
    margin-right: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.header-button-student:hover {
    background-color: #b0c4de; /* Slightly darker blue */
    color: #00120B; /* Primary dark color */
    border: 1.5px solid #00120B;
}

.landingpage-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem; /* Changed to 2rem for consistency */
    overflow-y: auto;
    margin-left: 2rem;
    padding-top: 10rem;
}

.ongoing-courses {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    width: 100%; /* Ensuring the grid takes full width */
}

.course-card {
    padding: 1rem;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.course-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
