.student-landingpage-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.landingpage-header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #3a86ff; /* Primary blue */
    border-bottom: 1px solid #007bff; /* Darker shade for border */
}

.landingpage-header h2 {
    margin: 0;
    color: #f8f9fa; /* Light grey for text */
}

.logout-button, .header-button-student {
    background-color: #007bff; /* Primary blue */
    color: #f8f9fa; /* Light grey for text */
    padding: 10px;
    border-radius: 6px;
    border: 1.5px solid #007bff; /* Primary blue */
    margin-right: 1rem;
}

.header-button-student:hover, .logout-button:hover {
    background-color: #ffba08; /* Accent orange */
    color: #00120B;
    border: 1.5px solid #00120B;
}

.landingpage-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem; /* Changed to 2rem for consistency */
    overflow-y: auto;
    margin-left: 0; /* Removed the margin-left to align with the header */
    padding-top: 2rem; /* Adjusted padding-top for consistency */
}

.ongoing-courses {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    width: 100%; /* Ensuring the grid takes full width */
}

.course-card {
    padding: 1rem;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.course-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
