.student-landingpage-wrapper {
    width: 100vw;
    position: relative;
}
.landingpage-header {
    width: 100%;
    height: 100px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.landingpage-main {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logout-button {
    background-color: #00120B;
    color: #31E981;
    padding: 10px;
    border-radius: 6px;
    border: 1.5px solid #31E981;
}