.teacher-landingpage-wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #f0f4f8;
}

.landingpage-header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #00120B;
    background-color: #e0edfa; /* Updated to primary blue */
    border-bottom: 1px solid #00120B; /* Darker shade for border */
}

.landingpage-header h2 {
    margin: 0;
    color: #00120B; 
}

.header-button-teacher {
    background-color: #00120B; /* Primary dark color */
    color: #e0edfa; /* Slightly darker blue */
    padding: 10px;
    border-radius: 6px;
    border: 1.5px solid #b0c4de;
    margin-right: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.header-button-teacher:hover {
    background-color: #b0c4de; /* Slightly darker blue */
    color: #00120B; /* Primary dark color */
    border: 1.5px solid #00120B;
}

.landingpage-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
    overflow-y: auto;
    margin-left: 2rem;
    padding-top: 10rem;
}

.landingpage-main h3 {
    margin: 10px;
    color: #343a40; /* Dark grey for text */
}

.courses-list {
    list-style: none;
    padding: 5px;
}

.courses-list li {
    padding: 1rem;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    transition: box-shadow 0.2s;
    margin-bottom: 1rem;
}

.courses-list li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa; /* Light grey on hover */
}

/* Example Media Query for Mobile Devices */
@media (max-width: 550px) {
    .landingpage-header {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .landingpage-main {
        align-items: center;
        justify-content: center;
    }
    .header-button-teacher, .logout-button {
        width: 100%;
    }
    .courses-list li {
        width: 100%;
        padding: 0.5rem;
    }
}


